<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="Bio In-Bev & Jaz">
	<meta name="description" content = "Bio In-Bev is the first French company developing a full range of Organic and Fair trade beverages that allows Healthy & Eco-conscious people living in China to drink a premium and first quality beverage">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/bio/css/bio.css">
	<link rel="stylesheet" type="text/css" href="/static/vegas/jquery.vegas.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fontello/fontello.css">
	{% block css %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% load i18n %}
	<div class="container">
		<div class="col-md-3 left">
			<header>
				<a href="/" title="Go to home">
					<img class="logo" src="/static/bio/images/logo.jpg" class="logo">
				</a>
			</header>
			<nav>
				<ul class="main-nav">
					<li><a href="/">{% trans "HOME" %}</a></li>
					<li><a href="javascript:void(0)" class = "sub" data=".consumption-nav">{% trans "ORGANIC CONSUMPTION" %}</a></li>
					<li><a href="/page/company-profile/">{% trans "COMPANY PROFILE" %}</a></li>
					<li><a href="#" class="sub" data=".products-nav">{% trans "OUR PRODUCTS" %}</a>
					</li>

					<li><a href="/page/missions-and-values/">{% trans "MISSIONS & VALUES" %}</a></li>
					<li style="display:none;"><a href="/partner/">{% trans "OUR PARTNERS" %}</a></li>
					<li><a href="javascript:void(0)" class="sub" data=".news-nav" style="display:none;">{% trans "NEWS" %}</a></li>
					<li><a href="/contact/">{% trans "CONTACT US" %}</a></li>
				</ul>
			</nav>
			<footer>
				<ul class="social">
					<li><a href="#" class="icon-social-sina-weibo"></a></li>
					<li><a href="https://www.facebook.com/bioinbev?ref=hl&ref_type=bookmark" class="icon-social-facebook" target="_blank"></a></li>
					<li><a href="http://instagram.com/bioinbev" class="icon-social-instagram"></a></li>
				</ul>
				<p class="copyright">Copyright &copy; Bio In-Bev 2014 . All Rights Reserved</p>
			</footer>
		</div>
		<div class="sub-nav-holder consumption-nav">
			<nav>
				<ul class="sub-nav">
					<li><a href="/page/why-organic/">{% trans "Why Organic" %}</a></li>
					<li><a href="/page/5-reasons-to-consume-organic/">{% trans "5 REASONS TO CONSUME ORGANIC" %}
	
</a></li>
					<li><a href="/page/understand-organic-labels/">{% trans "UNDERSTAND ORGANIC LABELS" %}
 </a></li>
					<li><a href="/page/certifications-bodies/"> {% trans "Certifications Bodies" %} </a></li>
				</ul>
			</nav>
		</div>
		<div class="sub-nav-holder products-nav">
			<nav>
				<ul class="sub-nav">
					<li><a href="/brand/fair/"> {% trans "FAIR" %} </a></li>
					<li><a href="/brand/meneau/"> {% trans "MENEAU" %} </a></li>
					<li><a href="/brand/melusine/"> {% trans "MELUSINE" %} </a></li>
					<li><a href="/brand/bio-in-vine/"> {% trans "BIO IN VINE" %} </a></li>
				</ul>
			</nav>
		</div>
		<div class="sub-nav-holder news-nav">
			<nav>
				<ul class="sub-nav">
					<li><a href="#"> {% trans "EVENTS" %} </a></li>
					<li><a href="#"> {% trans "PRESS REVIEW" %} </a></li>
				</ul>
			</nav>
		</div>

        <ul class="nav navbar-nav navbar-right language">
			<li><a href="/page/legal-disclamer/">{% trans "LEGAL DISCLAMER" %}</a></li>
			<li><a>|</a></li>
			<li><a href="/sitemap.xml">{% trans "SITEMAP" %}</a></li>
			<li><a>|</a></li>
            <li>
            	<a href="/setlang/?language=zh-cn&next={{request.path}}">
            		<img src="/static/bio/images/china.jpg" title="简体中文" />
            	</a>
            </li>
            <li><a href="/setlang/?language=en&next={{request.path}}"><img src="/static/bio/images/uk.jpg" title="English" /></a></li>
        </ul>
		{% block right %}
		{% endblock %}
	</div>


<script type="text/javascript" src="/static/bio/js/jquery.js"></script>
<script src="/static/bio/js/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="/static/vegas/jquery.vegas.min.js">
</script>
<script type="text/javascript">
	$(function(){
		var timeout = "";
		var sub = ""
		$(".sub").mouseover(function(){
			sub = $(this).attr("data");
			$(sub).fadeIn(250)
		}).mouseleave(function(){
			sub = $(this).attr("data");
			timeout  = setTimeout(function(){$(sub).fadeOut(250);},100);
		});
		$(".sub-nav-holder").mouseover(function(){
			clearTimeout(timeout);
		}).mouseleave(function(){
			$(".sub-nav-holder").fadeOut(250);
		});
	});
</script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa3b35fc72760903ee0d692d4045f2dbe' type='text/javascript'%3E%3C/script%3E"));
</script>
{% block js %}
{% endblock %}
</body>
</html>