{% extends "base.html" %}
{% block title %}BIO IN VINE{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/bio/css/jquery.ui.core.min.css">
<style>
	.section1{
		text-align: left;
	}
</style>
{% endblock %}
{% block right %}
		{% load i18n %}
		<div class="col-md-9 right brand">
			<div class="brand-info">
				<div class="title">{{ brand.title|upper }}</div>
				<div class="line">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</div>
				<div class="short"><h4>{{ brand.short_description }}</h4></div>
				{% if brand.banner %}
				<div class="fix-picture">
					<img src="{{ brand.banner.url }}" width="780px" />
				</div>
				{% endif %}
			</div>
			<div id="tab">
				<ul class="regions">
					<li><a href="#tab-intro">{% trans "BIO IN VINE" %}</a></li>
					 {% for r in regions %}
					<li><a href="/brand/bio-in-vine/{{ r.id }}/">{{ r.name }}</a></li>
					{% endfor %}
				</ul>
				<div class="tab-content" id="tab-intro">
					{{ brand.long_description|safe }}
				</div>
			</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(function() {
    $( ".dialog" ).dialog({
      dialogClass: "no-close info-dialog",
      width: 600,
      height: 700,
      autoOpen: false,
      modal: true,
      show: {
        effect: "slide",
        duration: 500
      },
      hide: {
        effect: "clip",
        duration: 500
      },
      open: function(){
          jQuery('.ui-widget-overlay').bind('click',function(){
          jQuery('.dialog').dialog('close');
      })
      }
    });
 
    $(".product").click(function() {
       var id = $(this).attr("data");
       id = "#"+id
      $(id).dialog("open");
    });
  });
	</script>
{% endblock %}