{% extends "base.html" %}
{% block title %}BIO IN VINE{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/bio/css/jquery.ui.core.min.css">
<style>
	.section1{
		text-align: left;
	}
</style>
{% endblock %}
{% block right %}
		{% load i18n %}
		<div class="col-md-9 right brand">
			<div class="brand-info">
				<div class="title">{{ brand.title|upper }}</div>
				<hr>
				<div class="section1">
					<div class="content">
						{{ brand.long_description|safe }}
					</div>
				</div>
			</div>
			<div class="filter">
				<ul>
					<li><a href="/brand/bio-in-vine/">{% trans "ALL" %}</a></li>
					 {% for r in regions %}
					<li><a href="/brand/bio-in-vine/?r={{ r.name }}">{{ r.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
{% endblock %}
