{% extends "base.html" %}
{% block title %}{{ brand.title|upper }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/bio/css/jquery.ui.core.min.css">
<style>
.body{
	background-color: #fff;

}
#tab>ul>li>a{
	background-color: transparent;
}
</style>
{% endblock %}
{% block right %}
		<div class="col-md-9 right brand">
            {% load i18n %}
			<div class="brand-info">
				<div class="title">{{ brand.title|upper }}</div>
				<div class="line">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</div>
				<div class="short">{{ brand.short_description }}</div>
				{% if brand.banner %}
				<div class="fix-picture">
					<img src="{{ brand.banner.url }}" width="780px" />
				</div>
				{% endif %}
			</div>
			<div id="tab">
				<ul>
					<li><a href="#tab-1">{% trans "Products" %}</a></li>
					<li><a href="#tab-2">{% trans "Brand" %}</a></li>
				</ul>
				<div class="product-info" id="tab-1">
					{% for p in brand.products.all %}
					<div class="col-md-6 col-xs-6 col-sm-6 product" data="{{ p.id }}">
						<a href="javascript:void(0)">
							<img src="{{ p.image.url }}" height="350px"/>
							<div class="overlay">
								<h5>{{ p.name }}</h5>
							</div>
						</a>
						<div class="dialog" id="{{ p.id }}">
							<div class="holder">
								<div class="img">
									<img src="{{ p.image.url }}" height="350px;" />
								</div>
								{% if p.attach %}
								<a href="{{ p.attach.url }}" target="_blank" class="btn-reverse">
									{% trans "Download Tasting Note" %}
								</a>
								{% endif %}
								<div class="description">
								{{ p.description|default_if_none:" "|safe }}
								</div>
								<div class="certs">
									{% for c in p.certification.all %}
									<a href="{{ c.link }}"><img src = "{{ c.image.url }}" title="{{ c.name }}" width = "45px;"/></a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="long" id="tab-2">
					{{ brand.long_description|default_if_none:" "|safe }}
				</div>
			</div>
		</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
	$(function(){
		$("#tab").tabs();
	});
  $(function() {
    $( ".dialog" ).dialog({
      dialogClass: "no-close info-dialog",
      width: 600,
      height: 700,
      autoOpen: false,
      modal: true,
      show: {
        effect: "slide",
        duration: 500
      },
      hide: {
        effect: "clip",
        duration: 500
      },
      open: function(){
          jQuery('.ui-widget-overlay').bind('click',function(){
          jQuery('.dialog').dialog('close');
      })
      }
    });
 
    $(".product").click(function() {
       var id = $(this).attr("data");
       id = "#"+id
      $(id).dialog("open");
    });
  });
	</script>
{% endblock %}
