<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset= "utf-8">
	<meta name="author" content="Bio In-Bev & Jaz">
	<meta name="description" content = "Bio In-Bev is the first French company developing a full range of Organic and Fair trade beverages that allows Healthy & Eco-conscious people living in China to drink a premium and first quality beverage">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/bio/css/bio.css">
	<link rel="stylesheet" type="text/css" href="/static/vegas/jquery.vegas.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fontello/fontello.css">
</head>
<body>
	<div class="container">
		<div class="col-md-3 left">
			<header>
				<a href="#" title="Go to home">
					<img class="logo" src="/static/bio/images/logo.jpg" class="logo">
				</a>
			</header>
			<nav>
				<ul class="main-nav">
					<li><a href="/">HOME</a></li>
					<li><a href="/consumption/">ORGANIC CONSUMPTION</a></li>
					<li><a href="#" class="products">OUR PRODUCTS</a>
					</li>
					<li><a href="/about/">ABOUT US</a></li>
					<li><a href="#">MISSIONS & VALUES</a></li>
					<li><a href="#">OUR PARTNERS</a></li>
					<li><a href="#">PRESS REVIEW</a></li>
					<li><a href="#">EVENTS</a></li>
				</ul>
			</nav>
			<footer>
				<ul class="social">
					<li><a href="#" class="icon-social-sina-weibo"></a></li>
					<li><a href="#" class="icon-social-facebook"></a></li>
					<li><a href="#" class="icon-social-instagram"></a></li>
				</ul>
				<p class="copyright">Copyright &copy; Bio In-Bev 2014 .<br/> All Rights Reserved</p>
			</footer>
		</div>
		<div class="sub-nav-holder">
			<nav>
				<ul class="sub-nav">
					<li><a href="/brand/"> FAIR </a></li>
					<li><a href="#"> MENEAU </a></li>
					<li><a href="#"> MELUSINE </a></li>
					<li><a href="#"> BIO IN WINE </a></li>
				</ul>
			</nav>
		</div>
		<div class="fleche"></div>
		<div class="col-md-9 right">
			<div class="front">
				Drink Healthier, Drink Better
			</div>
			<div class="section">
				<div class="title">
					5 Reasons to consume Organic & Fair Trade Products
				</div>
				<div class="content">
					<ol>
						<li>1.	Safer: Chemicals pesticides and additives free. It has being proved: consuming traditional food is full of chemical pesticides, among us, 60% of herbicides, 90% of fungicides, and 30% of insecticides which are carcinogenic</li>
						<li>2.	Environmental friendly: Natural farming don’t use synthetic pesticides which can harm the environment and the wildlife</li>
						<li>3.	Farmer friendly: Being at chemical pesticides contact lead to various health problems from headaches to cancers</li>
						<li>4.	Better Tasting: better texture and firmness. Organic food is not only healthier, it taste better than conventional one.</li>
						<li>5.	Support smaller farming communities and Fair Wages: By buying our products, you help farmers in developing countries build sustainable businesses that positively influence their communities</li>
					</ol>
				</div>
			</div>
			<div class="section">
				<div class="title">
					Why Organic?
				</div>
				<div class="content">
				With increasing awareness of nutrition, food safety and environmental friendly products among consumers, organic food is becoming more and more popular in people’s daily life. The organic food market in China will continue to grow at rates of 30% over the next decade in overseas markets as well as domestic.<br />
				<center><b>It was clearly obvious and natural for us to be a part of this evolution.</b></center>
				Chemicals used to speed up the production of the agricultural ingredients l (grapes, wheat, fruits...) can leave salts and heavy metals that are carried through to the final product.
Food additives, conditioning products, added yeasts, colorants, preservatives, all those products are almost in every beverages and food today. 

				</div>
			</div>
			<div class="section">
				<div class="title">
					Simple Way to understand Organic Wines
				</div>
				<div class="content">
	<b>How to read a label properly: </b>
	<ul>
	<li>•	“100% Organic” – Made from 100% organically grown ingredients.
	The wine also was monitored throughout its entire production process. No sulfites are added, though it can contain naturally occurring sulfites (or sulfur dioxide, an antimicrobial substance).</li>

	<li>•	“Organic” – 95% organically grown ingredients (the other 5% must not be available organically). 
	On the label, you’ll see the USDA (US), AB or ECOCERT (French), ACO (Australian) organic symbol. Again the certifying agency must be listed. </li>

	<li>•	“Made with Organic Grapes” or “Made with Organic Ingredients”
	Wine that contains at least 70% of organic ingredients. Sulfites can be added, but it may not beyond 100 parts per million.</li>

	<li>•	“Biodynamic” - Beyond organic
	This is wine that is 100% organic, PLUS the grower has gone beyond to try to bring the farming process more closely in tune with nature. The concept of biodynamic farming originated from the early 20th-century Austrian philosopher Rudolf Steiner.</li>
	<ul>
				</div>
			</div>
		</div>
	</div>


<script type="text/javascript" src="/static/bio/js/jquery.js"></script>
<script src="/static/bio/js/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="/static/vegas/jquery.vegas.min.js">
</script>
<script type="text/javascript">
	$.vegas('slideshow', {
	  delay:5000,
	  backgrounds:[
	    { src:'/static/bio/images/1.jpg', fade:1000 },
	    { src:'/static/bio/images/6.jpg', fade:1000 },
	    { src:'/static/bio/images/5.jpg', fade:1000 }
	  ]
	});
	$(function(){
		timeout = ""
		$(".sub-nav-holder, .fleche").hide();
		$(".products").mouseover(function(){
			$(".sub-nav-holder, .fleche").show('slide', {direction: 'left'}, 300);
		}).mouseleave(function(){
			timeout  = setTimeout(function(){$(".sub-nav-holder, .fleche").hide('slide', {direction: 'left'}, 300);},500);
		});
		$(".sub-nav-holder, .fleche").mouseover(function(){
			clearTimeout(timeout);
		}).mouseleave(function(){
			setTimeout(function(){$(".sub-nav-holder, .fleche").hide('slide', {direction: 'left'}, 300);},500);
		});
	});
</script>
</body>
</html>