{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block right %}
<div class="col-md-9 right1">
	<div class="contact col-md-12 col-xs-12 col-sm-12">
		<div class="col-md-4 col-xs-4 col-sm-4 row1">
		<center><h2>GET IN TOUCH</h2></center>
		</div>
		<div class="col-md-8 col-xs-8 col-sm-8 image row1 ">
			<img src = "/static/bio/images/contact.png"/>
		</div>
		<div class="col-md-4 col-xs-4 col-sm-4 row2">
			<h5>DIRECT CONTACT</h5>
<p>500 Xiang Yang Lu, Apt 2307, 200031 Shanghai, PR China </p>
<p>上 海 市 徐 汇 区 襄 阳 南 路 500 号 2307 室 </p>
<br />
<br/>
<p>+86 21 6466 3747 (Chinese and English)</p>
<p><a href="mailto:contact@bio-inbev.com">contact@bio-inbev.com</a></p>

		</div>
		<div class="col-md-4 col-xs-4 col-sm-4 row2">
			<h5>WANT TO SHARE? </h5>
<p>If you would like to share your vision, or have any questions about our products, please get in touch. We're eager for your comments.</p>
<br />
<p>As well as long-term mission requires long term-vision, on-going researches, innovations and improvements. We will be glad to discover your products, your ideas or your project.</p>

		</div>
		<div class="col-md-4 col-xs-4 col-sm-4 row2">
			<h5>BETTER TOGETHER</h5>
<p>Want to join our project? We are always looking for new talents! Send us your resume and cover letter to <a href="mailto:recruitment@bio-inbev.com">recruitment@bio-inbev.com</p>
		</div>
	</div>
</div>
{% endblock %}