{% extends "base.html" %}
{% block title %}BIO-INBEV|Unique. Urban. Organic.{% endblock %}
{% block right %}
		<div class="col-md-9 right">
			<div class="jumbotron">
			  <h2><b>Unique. Urban. Organic. </b></h2>
			  <p>With a full range of certified Organic products from France, Bio In-Bev offers a drink for every lifestyle.</p>
			  <a href="/about/" class="btn">LEARN MORE</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$.vegas('slideshow', {
	  delay:7000,
	  backgrounds:[
	  	{% for b in banners  %}
	    { src:'{{ b.image.url }}', fade:1000 },
	    {% endfor %}
	  ]
	});
</script>
{% endblock %}
</body>
</html>