{% extends "base.html" %}
{% block title %}BIO IN BEV | Unique.  Urban.  Organic.{% endblock %}
{% block css %}
<style>
.language{
	background: rgba(0,0,0,0.4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000');
}
.language>li>a{
	color:#fff;
}
</style>
{% endblock %}
{% block right %}
		<div class="col-md-9 right">
            {% load i18n %}
			<div class="jumbotron">
			  <h2><b>{% trans "Unique. Urban. Organic." %} </b></h2>
			  <div class="line">
			  </div>
			  <p>{% trans "With a full range of certified Organic products from France, Bio In-Bev offers a drink for every lifestyle." %}</p>
			  <a href="/page/company-profile/" class="btn">{% trans "LEARN MORE" %}</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$.vegas('slideshow', {
	  delay:7000,
	  backgrounds:[
	    { src:'http://bioinbev.qiniudn.com/1.jpg', fade:1000 },
	    { src:'http://bioinbev.qiniudn.com/2.jpg', fade:1000 },
	    { src:'http://bioinbev.qiniudn.com/3.jpg', fade:1000 },
	    { src:'http://bioinbev.qiniudn.com/4.jpg', fade:1000 },

	  ]
	});
</script>
{% endblock %}
</body>
</html>