{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block right %}
		<div class="col-md-9 right1">
            {% load i18n %}
			<div class="front1">
				{{ page.title }}
			</div>
			{% if page.s_title %}
			<div class="line"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</div>
			<div class="sfront1">
				{{ page.s_title }}
			</div>
			{% endif %}
			{% if page.banner %}
			<div class="fix-picture">
				<img src="{{ page.banner.url }}" width="780">
			</div>
			{% endif %}
			{% for s in page.sections.all %}
			<div class="section1">
				<div class="title">
					{{ s.title }}
				</div>
				<div class="content">
					{{ s.content|safe }}
				</div>
			</div>
			{% endfor %}
			<div class="images" style="padding-left:60px;">
				{% for i in page.images.all %}
				<div class="image">
					<img src= "{{ i.image.url }}" height = "100%">
					<a class="title" href="{{ i.image.url }}">{{ i.title|default_if_none:" " }}</a>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endblock %}
