{% extends "base.html" %}
{% block title %}{{ winery.name }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/bio/css/jquery.ui.core.min.css">
<style>
#tab{
	width: 400px;
	float: left;
	margin-top:5px;
}
#tab>ul{
	border:none;
	padding: 0px;
}
#tab>ul>li>a{
	display: block;
	font-weight: bold;
	padding: 15px 0px;
	width: 180px;
	font-size: 14px;
	letter-spacing: 2px;
	font-size: 12px;
}
#tab>ul>li>a:hover{
	background-color:#333;
	color:white;
	text-decoration: none;

}
#tab>ul>li[aria-selected="true"]>a{
	background-color:#333;
	color:white;
	text-decoration: none;

}
.section1{
	overflow: hidden;
	width: 780px;
	margin: 0 auto;
}
.title{
	text-align: left;
}
.image{
	float: left;
	width: 350px;
}
.tab-content{
	padding: 
}
.btn-panel{
	display: inline-block;
	float: right;
}
</style>
{% endblock %}
{% block right %}
		<div class="col-md-9 right brand">
            {% load i18n %}
			<div class="brand-info">
				<div class="title">{{ winery.name|upper }}</div>
				<div class="line">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</div>
				<div class="short"><h6>{{ winery.owner }}</h6></div>
			</div>
			<div class="section1">
				<div class="title">
					{% trans "Introduction" %}
				</div>
				<div class="image">
					{% if winery.image %}
						<img src="{{ winery.image.url }}" width ="300px" height="400px" />
					{% else %}
					    <img src = "http://placehold.it/300x400/" />
					 {% endif %}
				</div>
				<div id ="tab">
					<ul>
						<li><a href="#tab2">Vineyard Information</a></li>
						<li><a href="#tab3">More Information</a></li>
					</ul>
					<div class="tab-content" id="tab2">
						{{ winery.description|safe }}
					</div>
					<div class="tab-content" id="tab3">
						{{ winery.text|safe }}
					</div>
				</div>
			</div>	
			<div class="section1">
				<div class="title">
					{% trans "Products" %}
				</div>
				<div class="content" style="padding-bottom:30px;">
					{% for p in winery.products.all %}
					<div class="col-md-6 col-xs-6 col-sm-6 product" data="{{ p.id }}">
						<a href="javascript:void(0)">
							<img src="{{ p.image.url }}" height="350px"/>
							<div class="overlay">
								<h5>{{ p.name }}</h5>
							</div>
						</a>
						<div class="dialog" id="{{ p.id }}">
							<div class="holder">
								<div class="img">
									<img src="{{ p.image.url }}" height="350px" />
								</div>
								{% if p.attach %}
								<a href="{{ p.attach.url }}" target="_blank" class="btn-reverse">
									{% trans "Download Tasting Note" %}
								</a>
								{% endif %}
								<div class="description">
								{{ p.description|default_if_none:" "|safe }}
								</div>
								<div class="certs" style="margin-top:15px;">
									{% for c in p.certification.all %}
									<a href="{{ c.link }}"><img src = "{{ c.image.url }}" title="{{ c.name }}" width = "45px;"/></a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>				
		</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
	$(function(){
		$("#tab").tabs();
	});
  $(function() {
    $( ".dialog" ).dialog({
      dialogClass: "no-close info-dialog",
      width: 600,
      height: 700,
      autoOpen: false,
      modal: true,
      show: {
        effect: "slide",
        duration: 500
      },
      hide: {
        effect: "clip",
        duration: 500
      },
      open: function(){
          jQuery('.ui-widget-overlay').bind('click',function(){
          jQuery('.dialog').dialog('close');
      })
      }
    });
 
    $(".product").click(function() {
       var id = $(this).attr("data");
       id = "#"+id
      $(id).dialog("open");
    });
  });
	</script>
{% endblock %}
