{% extends "base.html" %}
{% block title %}{{ winery.name }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/bio/css/jquery.ui.core.min.css">
{% endblock %}
{% block right %}
		<div class="col-md-9 right brand">
			<div class="brand-info">
				<div class="title">{{ winery.name|upper }}</div>
				{% if brand.banner %}
				<div class="fix-picture">
					<img src="{{ brand.banner.url }}" width="780px" />
				</div>
				{% else %}
				<div class="fix-picture" style="margin-top:30px;">
					<img src="http://placehold.it/780x230" width="780px" />
				</div>				
				{% endif %}
			</div>
			<div id="tab">
				<ul>
					<li><a href="#tab-1">Products</a></li>
					<li><a href="#tab-2">Introduction</a></li>
				</ul>
				<div class="tab-content" id="tab-1">
					{% for p in winery.products.all %}
					<div class="col-md-4 col-xs-4 col-sm-4 product" data="{{ p.id }}">
						<a href="javascript:void(0)">
							<img src="{{ p.image.url }}" />
							<div class="overlay">
								<h4>{{ p.name }}</h4>
							</div>
						</a>
						<div class="dialog" id="{{ p.id }}">
							<div class="holder">
								<div class="img">
									<img src="{{ p.image.url }}" />
								</div>
								{% if p.attach %}
								<a href="{{ p.attach.url }}" class="btn-reverse">
									Download Tasting Note
								</a>
								{% endif %}
								<div class="description">
								{{ p.description|safe }}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="tab-content" id="tab-2">
					{{ winery.description|safe }}					
				</div>
			</div>
		</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
	$(function(){
		$("#tab").tabs();
	});
  $(function() {
    $( ".dialog" ).dialog({
      dialogClass: "no-close info-dialog",
      width: 600,
      height: 700,
      autoOpen: false,
      modal: true,
      show: {
        effect: "slide",
        duration: 500
      },
      hide: {
        effect: "clip",
        duration: 500
      },
      open: function(){
          jQuery('.ui-widget-overlay').bind('click',function(){
          jQuery('.dialog').dialog('close');
      })
      }
    });
 
    $(".product").click(function() {
       var id = $(this).attr("data");
       id = "#"+id
      $(id).dialog("open");
    });
  });
	</script>
{% endblock %}
