/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

*{
	outline: none!important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------Font---------------*/
@font-face {
  font-family: 'Caviar Dreams';
  font-style: normal;
  font-weight: 300;
  src: local('Caviar Dream'), local('Caviar Dream'),url(/static/caviar/CaviarDreams.woff) format('woff'),url(/static/caviar/CaviarDreams.ttf) format('truetype');
}

@font-face {
  font-family: 'Caviar Dreams';
  font-style: bold;
  font-weight: 700;
  src: local('CaviarDreamBold'), local('CaviarDreamBold'),url(/static/caviar/CaviarDreamsBold.woff) format('woff'),url(/static/caviar/CaviarDreamsBold.ttf) format('truetype');
}

/*----------Global Setting-----------*/
h1, h2, h3, h4, h5, h6, a, p,div,li,span{
	font-family: "Caviar Dreams",Arial,"Helvetica Nene",SimHei;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

h1{
	font-size: 48px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 30px;
}
a{
	-o-transition:color .3s ease-out, background .3s ease-in;
	-ms-transition:color .3s ease-out, background .3s ease-in;
	-moz-transition:color .3s ease-out, background .3s ease-in;
	-webkit-transition:color .3s ease-out, background .3s ease-in;
  /* ...and now override with proper CSS property */
	transition:color .3s ease-out, background .3s ease-in;

	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
p{
	line-height: 26px;
	font-size: 16px;
}
b{
	font-weight: bold;
}
/*--------structure----------*/
.container{
	width: 100%;
	height: 100%;
	padding-left: 0;
	padding-right:0;
}
.left{
	background-color:#fff; 
	position: fixed;
	width: 350px;
	height: 100%;
	padding-top: 30px;
	-webkit-box-shadow:10px 10px 5px rgba(0,0,0,0.1);
	box-shadow:10px 10px 5px rgba(0,0,0,0.4);
	z-index: 1024;

}
/*-----------scrollbar-----------*/

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#c0c0c0;
	border: thin solid silver;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#fff;
	border: thin solid silver;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#0c0c0c;
}			



/*---------logo---------*/

.logo{
	display: block;
	margin: 0 auto;
}


/*---------main-nav-----------*/
.main-nav{
	margin-top: 30px;
	overflow:visible;
}
.main-nav>li{
	text-align: center;
	list-style: none;
	position: relative;

}
.main-nav>li>a{
	color: #c0c0c0;
	display: block;
	min-height: 48px;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	padding-right: 20px;
	font-weight: bold;

}
.main-nav>li>a:hover{
	color:#000;
	text-decoration: none;
}

.sub-nav-holder{
	position: fixed;
	display: none;
	height: 100%;
	background-color: #000;
	background: rgba(0,0,0,0.85);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000');
	width: 200px;
	left: 350px;
	z-index: 3000;
}
.sub-nav{
	position: absolute;
	top: 310px;
	width: 100%;
}
.fleche{
	position: fixed;
	display: none;
	left: 350px;
	top: 340px;
	width: 9px;
	height: 16px;
	z-index: 1024;
	background: url(/static/bio/images/fleche.png) no-repeat;
}

.sub-nav>li{
	padding:0;
}
.sub-nav>li>a{
	color:#c0c0c0;
	display:block;
	width: 200px;
	text-align: center;
	padding:10px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
}
.sub-nav>li>a:hover{
	color:#fff;
	text-decoration: none;	
	text-decoration: underline;
}
.consumption-nav{
	width: 350px;
}
.consumption-nav .sub-nav>li>a{
	width: 350px;
	line-height: 26px;
}
.news-nav{
	width: 200px;
}
.news-nav .sub-nav>li>a{
	width: 200px;
	line-height: 26px;
}
/*---------homepage right---------*/
.right,.right1{
	margin-left: 350px;
	padding-left: 100px;
	padding-right: 100px;
}
.jumbotron{
	text-align: center;
	color: #fff;
	background-color: transparent;
	background: rgba(0,0,0,0.4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000');
	margin-top: 180px;
	padding:60px 0px;
}
.jumbotron>h2{
	margin-bottom: 50px;
	text-shadow:0 2px 2px rgba(0,0,0,0.4);

}
.jumbotron>p{
	margin-bottom: 50px;
	text-shadow:  0 2px 2px rgba(0,0,0,0.4);
	font-weight: bold;
}
.btn{
	display: block;
	width: 150px;
	margin: auto;
	color:#eee;
	border-radius: 6px;
	border: 1px solid #e0e0e0;
	padding: 10px 8px;
	text-align: center;
}
.btn:hover{
	color:#fff;
	border: 1px solid #fff;
}

.btn-reverse{
	display: block;
	width: 200px;
	text-align: center;
	margin:20px auto;
	color:#333!important;
	border-radius: 6px;
	border: 1px solid #c0c0c0;
	padding: 10px 8px;
	text-decoration: none!important;
}
.btn-reverse:hover{
	color:#000;
}


/*-------content right #2---------*/
.right1{
	padding: 50px;

}
.front1{
	display: block;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	margin: 0 auto; 
	letter-spacing: 2px;
	color:#000;
	text-shadow: #ccc 0 2px 2px;
}
.line{
	text-decoration: line-through;
	text-align: center;
	padding: 20px 0px;
}
.sfront1{
	text-align: center;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.fix-picture{
	text-align: center;
}
.section1{
	color: #000;
	line-height: 26px;
	padding: 8px 10px;
}
.section1 > .title{
	width: 780px;
	margin: 0 auto;
	font-weight: bold;
	padding:  0px;
	padding-left: 50px;
	line-height: 27px;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	background: url(/static/bio/images/list-black.png) no-repeat center left;
}
.section1 > .content{
	margin: 0 auto;
	width: 780px;
}
.images{
	width: 780px;
	margin: 0 auto;
	margin-top: 15px;
}
.images>.image{
	display: block;
	width: auto;
	height: 150px;
	text-align: center;
	float: left;
	padding: 0px 20px;
}
.image>.image>.title{
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}
.image>.image>img{
	height: 100%;
}
/*------Detail & List----------*/
.brand{
	text-align: center;
	line-height: 26px;
	padding: 0px;

}
.brand-info{
	padding: 50px 0px 10px 0px;
	background-color: #fff;
	color:#000;
}
.brand-info> .title{
	text-align: center;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 32px;
}
.brand-info> .short{
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.brand .long{
	width: 780px;
	margin: 0 auto;
	text-align: left;
	padding: 8px 7px;
}
.product{
	text-align: center;
	position: relative;
	height: 350px;
	overflow: hidden;
	margin-bottom: 20px;
}
.product .overlay{
	background:rgba(0,0,0,.75);
    opacity:0;
	-o-transition:opacity .25s ease;
	-ms-transition:opacity .25s ease;
	-moz-transition:opacity .25s ease;
	-webkit-transition:opacity .25s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 99;
}
.product>a:hover>.overlay{
	opacity: 1;
}
.product>a>.overlay>h4{
	color:#fff;
	line-height: 350px;
}

/*------------tab-------------*/
#tab{
	width: 780px;
	margin:0 auto;
	text-align: left;
	margin-top: 20px;
}
#tab>ul{
	position: relative;
	overflow: hidden;
	border: 0 solid silver;
	border-width: 0 0 1px 0;
	padding-left: 20px;
}
#tab>ul>li{
	display: inline;
	margin: 0;
	float: left;
}
#tab>ul>li>a{
	display: block;
	padding: 15px 40px;
	text-align:center;
	border:none;
	color:#c0c0c0;
	background-color:#fff;
	text-decoration: none;
}
#tab>ul>li[aria-selected="true"]>a{
	color:#000;
}

.regions{
	overflow: hidden;
	padding-left: 1px!important;
}
.regions>li>a{
	font-weight: bold;
	padding: 15px 20px!important;
}
.regions>li:first-child>a{
	background-color:#c0c0c0!important;
	color:#fff!important;
}
.winery>a{
	display: inline-block;
	padding:20px 14px;
	color: #000;
}
.winery>a:hover{
	text-decoration: underline;
}
.tab-content{
	overflow: hidden;
	padding:10px 8px;
}
/*-----------popup dialog--------------*/
.dialog{
	background-color:#fff;
	z-index: 2048;
	padding: 5px;
	-webkit-box-shadow:10px 10px 5px rgba(0,0,0,0.4);
}
.holder{
	padding: 8px 10px;
	border:8px solid #000;
	height:690px;
	overflow-y: scroll;
	overflow-x:hidden;
}
.holder>.img{
	display: block;
	margin: 0 auto;
	width: 260px;
	text-align: center;
	clear: both;
}

.ui-widget-overlay{
    background-color: black;
    background-image: none;
    opacity: 0.4;
    z-index: 2;    
}
.ui-dialog .ui-widget-header {
    background: #F9F9F9;
    display: none;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    display: none;
    position: relative;
    font-size: 1em;
}
/*------------footer----------*/
footer{
	margin-top: 20px;
	width: 100%;
}
.social{
	overflow: hidden;
	text-align: center;
	padding: 30px 80px;

}
.social>li{
	float: left;
	margin-right: 20px;
}
.social>li>a{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	border-radius: 30px;
	color: #c0c0c0;
}
.social>li>a:hover{
	color: #000;
}
.footer-nav{
	overflow: hidden;
	padding: 10px 0px;
}
.footer-nav>li{
	float: left;
}
.footer-nav>li>a{
	color:#c0c0c0;
	display: block;
	padding: 8px 12px;
	text-align:center;
	font-size: 12px;
}
.footer-nav>li>a:hover{
	color:#000;
	text-decoration: underline;
}
.copyright{
	font-size: 12px;
	text-align: center;
	color:#c0c0c0;
}